


<div class="main">
	<h1>Summer Stories</h1>
	<button>Learn More</button>
		<div class="support">
		<h3>July and August 2016</h3>
		<p class="tagline">Remninces of a Roadtrip</p>
		</div>
</div>
<div class="secondary">


</div>

<div class="discover">
<h3>Discover the Details</h3>
<button>Learn More</button>
</div>

<footer>
	
</footer>
