


		<h1 class="section-heading">Summer Stories</h1>
                    <p class="lead section-lead">July and August 2016</p>
                    <p class="section-paragraph">60 days, 4 people, one car, 14 locations across Canada for the ultimate road trip. Take a look at the stories that sprang from this endeavor.</p>
                    <div class="btn btn-primary"><%= link_to "Learn More", about_path %> </div>



